*/__pycache__/*
/__pycache__/*
*/.vscode/*
/.vscode/*
/scripts/~FMUOutput/*
/~FMUOutput/*
/*.mat
*.exe
*.fmu
*.xlsx
*.mof
*.csv
*.c
buildlog.txt
dbg
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c


*.code-workspace
*.obj
*.manifest
/scripts/*.mat
/*.txt
/modelDescription.xml
/request
/status
